<%= form_with(model: record) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
        <% record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :age_group %>
    <%= form.select :age_group, @age_groups, class: 'form-select' %>
  </div>

  <div class="field">
    <%= form.label :stroke %>
    <%= form.select :stroke, @strokes, class: 'form-select' %>
  </div>

  <div class="field">
    <%= form.label :distance %>
    <%= form.select :distance, @distances, class: 'form-select' %>
  </div>

  <div class="field">
    <%= form.label 'Swimmer(s)' %>
    <%= form.text_field :swimmer, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
