<p id="notice"><%= notice %></p>

<p>
  <strong>Age group:</strong>
  <%= @record.age_group %>
</p>

<p>
  <strong>Stroke:</strong>
  <%= @record.stroke %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @record.distance %>
</p>

<p>
  <strong>Swimmer:</strong>
  <%= @record.swimmer %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
